body {
  font-family: 'Raleway', sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #333;
}

.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
}
 .url-title {
  text-decoration: none;
  text-align: left;
  padding-bottom: 5px;
 }

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
  text-decoration: none;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

.navbar {
  margin-bottom: 2px;
}

.pre {
  background-color: #002b36;
}

.post-title {
  text-align: center;
}

.default-page-title {
  text-align: center;
}

.sub-title {
  text-align: center;
}

@media (min-width: 768px){
  .default-page-title {
    font-size: 20pt;
  }
  .sub-title {
    text-align: left;
  }
  .post-title {
    text-align: center;
    font-size: 36pt;
  }
  .url-title {
    text-align: left;
    font-size: 20pt;
  }
  .blog-post-meta {
    text-align: left;
  }
  .navbar-nav{
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float:none;
  }
  .main-page{
    padding-top: 20px;
  }
  .blog-post{
    padding-top: 40px;
  }
  .navbar {
    margin-bottom: 20px;
  }
  .blog-main {
    padding-top: 10px;
  }
  .sidebar-module {
    padding-top: 20px;
  }
}

.code, .kbd, .pre, .samp{
  font-family: 'Ubuntu Mono';
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.sidebar-module {
  text-align: center;
  padding: 10px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.blog-post {
  padding-top: 2px;
  margin-bottom: 60px;
}
.blog-post-title {
  padding-top: 15px;
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  text-align: center;
  margin-bottom: 20px;
  color: #999;
}

.blog-footer {
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
