    <nav class="navbar navbar-default navbar-static-top hidden-s hidden-md hidden-lg">
        <div class="container">
            <div data-spy="affix-top" class="container-fluid hidden-s hidden-md hidden-lg">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-nav">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.mirango.io">mirango.io</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="collapse-nav">
                <ul class="nav navbar-nav">
                  <li><a href="https://www.mirango.io">Home</a></li>
                  <li><a href="https://www.mirango.io/about.html">About</a></li>
                  <li><a href="https://www.github.com/sdwalsh">Github</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
      </nav>